# Secrets — KHONG commit token
.env
**/.env

# Dataset nang + cache (lay tu HuggingFace)
Baseline/data/
data.zip
**/*.pkl
**/corpus.pth
Baseline\valid_sample_submission.zip
Baseline\valid_submission_sample.zip
Baseline\valid.zip

# Python
__pycache__/
*.pyc
